<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <!--script type="text/javascript" src="/socket.io/socket.io.js"></script-->
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io();
            
            $('#posting_form').submit(function(e) {
                e.preventDefault();
                socket.emit('posting_form', {
                    name: $('#name').val(), 
                    location: $('#location').val(),
                    language: $('#language').val(),
                    comment: $('#comment').val()
                });
                console.log('form posted')
            });
               socket.on('send_message', function(data){
                   $('#message').html("You sent the following information to the server : " + JSON.stringify(data.response));
                   console.log(data);
               })
               socket.on('random_num', function(data){
                $('#number').html("Your lucky number emitted by the server is " + JSON.stringify(data.response));
               });

        });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Survery Form</h1>
        </div>
        <div class="section border text-wrap">
            <div id="message"></div>
            <div id="number"></div>
        </div>
        <div class="section">
            <form action="" id="posting_form">
                <div class="form-group">
                    <label for="name">Your Name: </label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="location">Dojo Location:</label>
                    <select name="location" class="form-control" id="location">
                        <option value="Dallas, TX">Dallas, TX</option>
                        <option value="Mountain View, CA">Mountain View, CA</option>
                        <option value="Online">Online</option>
                        <option value="Seattle, WA">Seattle, WA</option>
                        <option value="Tyson's Corner, VA">Tyson's Corner, VA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Favorite Language:</label>
                    <select name="language" class="form-control" id="language">
                        <option value="c#">c#</option> 
                        <option value="JavaScript">JavaScript</option>
                        <option value="Java">Java</option>
                        <option value="Python">Python</option>
                        <option value="Ruby">Ruby</option>
                    </select>
                </div>
                <div class="form-group">
                    <lable for="comment">Comment: </lable>
                    <textarea name="comment" class="form-control" id="comment" cols="30" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>