<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars | People & Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--style src="main.js"></style-->
    <script>
        $(document).ready(function(){
            $('#peopleBtn').click(function(){
                $.get('/people', function(data) {
                    console.log('Got response: ', data);
                    $('#data').html(data);
                }/* add 'json' here */);
            });
            $('#planetBtn').click(function(){
                $.get('/planets', function(data) {
                    console.log('Got response: ', data);
                    $('#data').html(data);
                }/* add 'json' here */);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Star Wars Wiki</h1>
            <h4>What would you like to know more about?</h4>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-4">
                    <div>
                        <button type="button" class="btn btn-success" id="peopleBtn">People</button>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <button type="button" class="btn btn-success" id="planetBtn">Planet</button>
                    </div>
                </div>
            </div>
            <div class="" id="data"></div>
        </div>
    </div>
</body>
</html>