<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
</head>
<body>
    <h1>Cats</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/cars/new">New Cars</a></li>
    </ul>
    <a href="/catone">
        <img src="images/catone.jpeg" alt="image of cat one">
    </a>
    <a href="/cattwo">
        <img src="images/cattwo.jpeg" alt="image of cat two">
    </a>
    <a href="catthree">
        <img src="images/catthree.jpeg" alt="image of cat three">
    </a>
    
    
    
</body>
</html>