<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
</head>
<body>
    <h1>Cats</h1>
    <img src="catone.jpeg" alt="image of cat one">
    <img src="cattwo.jpeg" alt="image of cat two">
    <img src="catthree.jpeg" alt="image of cat three">
</body>
</html>