<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io();
            //get new user
            var currentUser
            var newUser = function(){
                var name = prompt('Enter your name to join the chat:');
                socket.emit('newPage', {user: name});
                console.log(name);
            };
            newUser();
            
            socket.on('currentUser', function(data){
                $('#error').html(data.error);
                newUser();
            })
            socket.on('getMessages', function(data){
                $('#error').html('')//reset error

            })

            socket.on('postUsers',function(data){
                console.log(data)
                $('#messages').append('<p>' + data.users + '</p>');       
            })
            $('#newMessage').submit(function(){
                socket.emit('newMessage', {message: $('#messsage').val(), user: currentUser})
                return false;
            })
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Group Chat</h1>
        <div>
            <div id="error"></div>
            <p>Conversation Board</p>
            <div id="messages"></div>
            <form id="newMessage">
                <div class="form-group">
                    <input type="text" class="form-control" id="message" placeholder="Enter your message here">
                </div>
                <button class="btn btn-primary" id="submit">Send</button>
            </form>
        </div>
    </div>
    
</body>
</html>