<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io();
            //get new user
            var newUser;
            
            $('#getName').submit(function(e) {
                e.preventDefault();
                socket.emit('getName', {
                    name: $('#name').val()
                })
                console.log('form posted');
            })
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Group Chat</h1>
        <div>
            <form action="/chat" id="getName" method="POST">
                <p>The page at https://localhost says:</p>
                <div class="form-group">
                    <label for="name">Your name: </label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <button class="btn btn-danger" id="cancel">Cancel</button>
                <button class="btn btn-primary" id="submit">Ok</button>
            </form>
        </div>
    </div>
    
</body>
</html>