<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Survey Form</h1>
        </div>
        <div>
            <form action="/results" method="POST">
                <div class="form-group">
                    <label for="name"> Name: </label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="location">Dojo Location: </label>
                    <select name="location" class="form-control">
                        <option name="Los Angeles, CA">Los Angeles, CA</option>
                        <option name="Mountain View, CA">Mountain View, CA</option>
                        <option name="Online">Online</option>
                        <option name="Seattle, WA">Seattle, WA</option>
                        <option name="Tyson's Corner, VA">Tyson's Corner, VA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="language">Favorite Language: </label>
                    <select name="language" class="form-control">
                        <option value="C#">C#</option>
                        <option value="Java">Java</option>
                        <option value="Javascript">JavaScript</option>
                        <option value="Python">Python</option>
                    </select>
                </div>
                <div class="form-group">   
                    <label for="comments">Comment (optional):</label>
                    <textarea name="comment" class="form-control" id="" cols="30" rows="5"></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</body>
</html>