<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <h1>Survey Form</h1>
        </div>
        <div>
            <form action="/results" method="POST">
                
                <label for="name"> Name: </label>
                <input type="text" name="name">

                <label for="location">Dojo Location: </label>
                <select name="location">
                    <option name="online">Online</option>
                    <option name="mountain">Mountain View</option>
                    <option name="seattle">Seattle</option>
                    <option name="la">Los Angeles</option>
                    <option name="virginia">Virginia</option>
                </select>

                <label for="language">Favorite Language: </label>
                <select name="language">
                    <option value="Java">Java</option>
                    <option value="Javascript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                </select>

                <label for="comments">Comment (optional):</label>
                <textarea name="comment" id="" cols="30" rows="5"></textarea>
                <button>Submit</button>
            </form>
        </div>

    </div>
</body>
</html>