<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <div>
        <h3>Submitted Information</h3>
        <p>Name: <%= name %> </p> 
        <p>Dojo Name: <%= dojo %> </p>
        <p>Favorite Langauge: <%= langage %> </p>
        <p>Comment: <%= comment %> </p>

        <form action="/" method="GET">
            <button>Go Back</button>
        </form>
    </div>
</body>
</html>