<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Great Button Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        $(document).ready(function() {
            var socket = io();

            $('#epic').click(function() {
                socket.emit('button_clicked');
                console.log('epic button clicked');
            });
            socket.on('numberUpdate', function(number) {
                $('#update').text(number);
            });
            $('#reset').click(function () {
                console.log('reset button clicked');
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>The Epic Button Game</h1>
        <p>The button has been pushed <span id="update">0</span> time(s).</p>
        <button type="button" class="btn btn-primary" id="epic">Push Button</button>

        <button type="button" class="btn btn-warning" id="reset">reset</button>
    </div>
</body>
</html>